<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8" />
    <title>URL Shortener</title>
    <meta
      name="description"
      content="ShortURL is a tool to shorten a long link and create a short URL easy to share on sites, chat and emails. Track short URL traffic and manage your links."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <meta property="og:title" content="ShortURL - URL Shortener" />
    <meta property="og:type" content="website" />
  </head>
  <body>

    <!-- popup -->
    <div class="popup">
      <header>
        <span>Share Modal</span>
        <div class="close"><i class="uil uil-times"></i></div>
      </header>
      <div class="content">
        
        <p>Copy Link</p>
        <div class="field">
          <i class="url-icon uil uil-link"></i>
          <input type="text" readonly value="">
          <button>Copy</button>
        </div>
      </div>
    </div>
    <!-- rest -->
    <header>
      <div id="logo">
        <a class="logo">URL Shortner</a>
      </div>
    </header>
    <main>
      <section id="urlbox">
        <h1>Paste the URL to be shortened</h1>
        <form id="formurl" >
            <input type="url" name="longurl" placeholder="Enter the long URL" required>
            <input type="text" name="customurl" placeholder="Enter custom URL">
            <div class="button-group" style="text-align: center;">
                <button type="submit" name ="submit"  id ="submit" class="colorbutton">Shorten URL</button>
            </div>
        </form>
        <p class="boxtextcenter">
            ShortURL is a free tool to shorten URLs and generate short links<br />URL
            shortener allows to create a shortened link making it easy to share
        </p>
    </section>


  
    </body>
   
    <script src = "https://ajax.aspnetCDN.com/ajax/jQuery/jQuery-3.3.1.min.js"></script>
    <script>
      const popup = document.querySelector(".popup"),
        close = popup.querySelector(".close"),
        field = popup.querySelector(".field"),
        input = field.querySelector("input"),
        copy = field.querySelector("button");

      $(document).ready(function () {
        $("#formurl").on("submit", function (event) {
          event.preventDefault();

          var longurl = $('input[name="longurl"]').val();
          var customurl = $('input[name="customurl"]').val();

          $.ajax({
            url: "/generate",
            type: "post",
            data: { longurl: longurl, customurl: customurl },
            success: function (data) {
              // Set the input value to the short URL
              input.value = data.short_url;
              // Trigger the view button click event
              popup.classList.toggle("show");
            },
            error: function (error) {
              console.log(error);
            },
          });
        });
      });

      close.onclick = () => {
        popup.classList.toggle("show");
      };

      copy.onclick = () => {
        input.select();
        if (document.execCommand("copy")) {
          field.classList.add("active");
          copy.innerText = "Copied";
          setTimeout(() => {
            window.getSelection().removeAllRanges();
            field.classList.remove("active");
            copy.innerText = "Copy";
          }, 3000);
        }
      };

    </script>
</html>
